.Spinner-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%,-50%) translateZ(0);
  top: 50%;
  width: 220px;
  height: 220px;
  z-index: 1;
  background: url("../../../public/img/nurirang_carousel1.png") center no-repeat;
  background-size: contain;
}

.Spinner-container::after {
	content:"";
	position:absolute;
	width:220px;
	height:220px;
	background-color:rgba(0,0,0,0);
	border-radius:100%;
	margin:-15px;
	box-shadow: 0 4px 0 0 rgb(238, 182, 0);
	transition: all 1s linear;
	animation: lds-eclipse 1s linear infinite;
  left: 10%;
  top: 10%;
}

@font-face {
  font-family: 'SuseongDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.Spinner-container .Spinner-text{
  z-index: 3;
  font-family: "SuseongDotum";
  margin-top: 80%;
  color: rgb(0, 0, 0);
  background-color: rgb(235, 235, 235);
}

@keyframes spinning {
	0% { transform: translate(-50%,-50%) scale(1) translateZ(0);}
	50% { transform: translate(-50%,-50%) scale(1.1) translateZ(0);}
	100% { transform: translate(-50%,-50%) scale(1) translateZ(0);}
}

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}