@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.RefSidebar-container {
  width: 240px;
  display: inline-block;
  float: left;
}

.MuiListSubheader-root {
  float: left;
  font-weight: bold !important;
  font-size: 1.4rem !important;
  font-family: 'Cafe24SsurroundAir' !important;
  color: black !important;
  padding-top: 25px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}